/* You can add global styles to this file, and also import other style files */

.full-h{
    height: 100vh;
}

.btn-add{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 100% !important;
    width: 50px;
    height: 50px;
}

.btn-add i{
    font-size: 30px;
    padding-top: 5px;
}

.navbar i{
    font-size: 25px;
}

a{
    cursor: pointer;
}