<nav *ngIf="authService.isLoggedIn()" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="{{'common.search' | translate}}" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{'common.search' | translate}}</button>
    </form>-->
    <ul class="navbar-nav">
      <li ngbDropdown class="nav-item dropdown" placement="bottom-right">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" ngbDropdownToggle>
          <i class="fa fa-language"></i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="changeLang('it')">Italiano</a>
          <a class="dropdown-item" (click)="changeLang('en')">Inglese</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown" placement="bottom-right">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" ngbDropdownToggle>
          <i class="fa fa-user"></i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/my-profile']">Profilo</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


