<div class="container-fluid" *ngIf="model">
    <form [formGroup]="houseForm" (submit)="submit()">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
            <input type="text" class="form-control"  formControlName="name">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
</div>

<hr/>
<div class="container-fluid">
    <h2>Lista dei costi</h2>
</div>

<app-cost
    *ngIf="model"
    [houseId]="model.id"
    (addNewCost)="getCostList($event)"
></app-cost>

<div class="container-fluid" *ngIf="costList">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
                <tr>
                <th scope="col">Costo</th>
                <th scope="col">Importo</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cost of costList">
                    <td>{{cost.name}}</td>
                    <td>{{cost.amount}} &euro;</td>
                    <td>{{cost.date | date: 'd/M/yyyy' }}</td>
                    <td>
                        <button class="btn btn-default"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger ml-1" (click)=deleteCost(cost.id)><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>